<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>User register data</title>
</head>
<body>
  <div align="center">
      <h1>List of users</h1>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Profession</th>
        </tr>
        <tr th:object="${userForm}">
          <td th:text="*{name}"></td>
          <td th:text="*{email}"></td>
          <td th:text="*{password}"></td>
          <td th:text="*{gender}"></td>
          <td th:text="*{address}"></td>
          <td th:text="*{profession}"></td>
        </tr>
      </table>
  </div>
</body>
</html>