<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Iteration in thymeleaf</title>
</head>
<body>
    <h1>List of users</h1>
    <table border="1">
        <tr>
            <th>Sr.No</th>
            <th>Index</th>
            <th>Even</th>
            <th>Odd</th>
            <th>First</th>
            <th>Last</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Gender</th>
            <th>Action</th>
            <th>Description</th>
        </tr>
        <tr th:each="u, uStat : ${users}">
            <td th:text="${uStat.count}"></td>
            <td th:text="${uStat.index}"></td>
            <td th:text="${uStat.even}"></td>
            <td th:text="${uStat.odd}"></td>
            <td th:text="${uStat.first}"></td>
            <td th:text="${uStat.last}"></td>
            <td th:text="${u.name}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.role}"></td>
            <td th:text="${u.gender}"></td>
            <td>
                <a th:href="@{/update}" th:if="${u.gender}=='male'">Update</a>
                <a th:href="@{/delete}" th:if="${u.gender}=='male'">Delete</a>
                <a th:href="@{/view}" th:unless="${u.gender}=='male'">View</a>
            </td>
            <td th:switch="${u.role}">
                <p th:case="'admin'">Es un admin</p>
                <p th:case="'auxiliar'">Es un auxiliar</p>
                <p th:case="*">Es un otro</p>
            </td>
        </tr>
    </table>
</body>
</html>